.st0 {
    fill: #20201F;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #E62638;
}

.st3 {
    display: none;
    fill: #FFFFFF;
}

.st4 {
    /* font-family: 'MyriadPro-Bold'; */
    fill: white;
    color: white;
}

.st5 {
    font-size: 7.3928px;
}

.st6 {
    font-size: 36px;
}

.st7 {
    font-size: 14px;
}

.st8 {
    font-size: 13px;
}

.st9 {
    font-size: 11px;
}

