.cls-1 {
	font-size: 30px;
	fill: #181818;
}

.cls-1,
.cls-5 {
	font-family: Arial-Black, Arial;
	font-weight: 800;
}

.cls-2 {
	letter-spacing: -0.06em;
}

.cls-3 {
	letter-spacing: -0.03em;
}

.cls-4 {
	letter-spacing: -0.08em;
}

.cls-5 {
	font-size: 135.26px;
}

.cls-12,
.cls-5,
.cls-6 {
	fill: #fff;
}

.cls-6 {
	font-size: 47.66px;
	font-family: Arial-BoldItalicMT, Arial;
	font-style: italic;
}

.cls-12,
.cls-6,
.cls-9 {
	font-weight: 700;
}

.cls-7 {
	letter-spacing: -0.04em;
}

.cls-8,
.cls-9 {
	fill: #20201f;
}

.cls-9 {
	font-size: 12.47px;
	font-family: MyriadPro-Bold, Myriad Pro;
}

.cls-10 {
	letter-spacing: 0em;
}

.cls-11 {
	letter-spacing: -0.01em;
}

.cls-12 {
	font-size: 82.74px;
	font-family: Arial-BoldMT, Arial;
}

#kickoff {
	font-weight: bold;
	font-size: x-large;
	fill: #fff;
}

#hometeam {
	font-size: 135.26px;
	fill: #fff;

}

#awayteam {
	font-size: 47.66px;
	font-family: Arial-BoldItalicMT, Arial;
	font-style: italic;
	fill: #fff;
}