/* Add Tailwind's base styles */
@tailwind base;

/* Add Tailwind's component styles */
@tailwind components;

/* Add Tailwind's utility styles */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.lexend-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
